/* START CSS HEADER */

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header_search {
    /* margin-right: 300px; */
    display: flex;
}

.main_header_search input {
    border: none;
    height: 28px;
    border: 1px solid thistle;
    border-right: none;
}

.main_header_search ::placeholder {
    font-size: 14px;
}

.main_header_search_icon {
    background-color: red;
    height: 28px;
    border: 1px solid thistle;
    padding: 0px 10px;
}

.main_header_search i {}

.main_header_options {
    display: flex;
    justify-content: space-between;
}

.main_header_options i {
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: brown;
}

.my_header_fluid {
    color: aliceblue;
}

.my_header_fluid div {
    margin: 8px 0px;
}

.my_header_fluid p {
    margin-bottom: 0px;
}

.my_header_fluid_info i {
    color: aliceblue;
}


/* END CSS HEADER */